@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 8px;
  border: 2px solid white;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

body {
  background: linear-gradient(90deg, #300000, #780000);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background-overlay {
  background-image: url("/images/background-overlay.png");
  position: fixed;
  opacity: 0.12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
  margin-right: 20px;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-transform: uppercase;
}

.subheading {
  font-size: 25px;
  font-weight: 700;
  text-decoration: underline;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.button {
  background-color: rgba(180, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  min-width: 110px;
  padding: 5px 20px 5px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

p,
li {
  font-size: 22px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

input,
textarea,
select {
  font-size: 18px;
  background-color: white;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  color: black;
  padding: 5px 8px 5px 8px;
}

select:hover {
  cursor: pointer;
}
