.container {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 25px;
  text-align: center;
  padding: 15px;
  padding-bottom: 20px;
  text-decoration: underline;
}

.title {
  color: rgb(220, 0, 0);
}
