.container {
  font-size: 45px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  padding: 10px;
  padding-bottom: 12px;
}
